<html>
    <head>
        <title>niflr register</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
         </head>
    <body>
        
        <div class="container">
                <h1 style="text-align: center;">NIFLR Register</h1>
                <form action="/register" method="POST">
                    <input class="form-control" type="text" name="username" placeholder="Username">
                    <input class="form-control" type="text"name="email" placeholder="Email">
                    <input class="form-control" type="text"name="password" placeholder="password">
                    <input class="form-control" type="text"name="firstname" placeholder="First-name">
                    <input class="form-control" type="text"name="lastname" placeholder="Last-name">
                    <input class="form-control" type="number"name="phoneNo" placeholder="Phone-Number">
                    <input class="form-control" type="number"name="dob" placeholder="D.O.B">
                    <button class="btn btn-lg btn-primary btn-block">Register</button>

                </form>
        </div>


    </body>
</html>